@{
    ViewData["Title"] = "Inicio";
}

<div id="foto_banner">
    <img src="~/images/foto1.jpg">
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <span class="tiacv-content">
            <h3>Por qué trabajar con Nosotros</h3>
            <p>Te invitamos a formar parte de Tía, una empresa con presencia a nivel nacional, donde te ofrecemos grandes oportunidades para desarrollar tu carrera profesional.</p>
        </span>
    </div>
    <div class="col-md-4">
        <img src="~/images/somos-un-equipo.jpg">
    </div>
    <div class="col-md-2"></div>
</div>

</div>
