@{
    ViewData["Title"] = "Enviar Hoja de Vida";
}
<div id="foto_banner">
    <img class="fixed-ratio-resize" src="~/images/foto2.jpg">
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="tiacv-rojo">@ViewData["Title"]</h1>
        <h3 class="tiacv-rojo">Instrucciones</h3>

        <p>Ingresa tu hoja de vida usando nuestro formulario en línea.</p>

        <p>Al completar la hoja de vida, esta será incluida en nuestra base de datos del Departamento de Recursos Humanos de TIA S.A. y, de esta forma, estará disponible para ser considerada en los procesos de contratación de personal.</p>

        <p>Te solicitamos tener en cuenta los siguientes aspectos:</p>

        <ul>
            <li>La base mantendrá vigente su último curriculum ingresado. Por este motivo, no tengrás que ingresarlo de nuevo, a menos que consideres que haya algún cambio que requieras incorporar al mismo.</li>
            <li>La información será tratada con la mayor confidencialidad.</li>
            <li>Algunos de los campos del formulario son de carácter obligatorio. El sistema no te permitirá continuar a menos que completes todos los campos obligatorios.</li>
        </ul>
        <div class="row" style="text-align: center">
        <a class="btn btn-default btn-lg tiacv-btn" asp-controller="HojaDeVida" asp-action="Paso1">Empezar ahora</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>




