@{
    ViewData["Title"] = "Enviar Hoja de Vida";
}
<div id="foto_banner">
    <img class="fixed-ratio-resize" src="~/images/foto2.jpg">
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <span class="tiacv-content">
            <h1>@ViewData["Title"]</h1>
            <h3>Instrucciones</h3>

            <p>Ingrese su hoja de vida usando nuestro formulario en línea.</p>

            <p>Al completar su hoja de vida, esta será incluida en nuestra base de datos del Departamento de Recursos Humanos de TIA S.A. y, de esta forma, estará disponible para ser considerado en los procesos de contratación de personal.</p>

            <p>Le solicitamos tener en cuenta los siguientes aspectos:</p>

            <ul>
                <li>La base mantendrá vigente su último curriculum ingresado. Por este motivo, no tengrá que ingresarlo de nuevo, a menos que considere que haya algún cambio que requiera incorporar al mismo.</li>
                <li>La información será tratada con la mayor confidencialidad.</li>
                <li>Algunos de los campos del formulario son de carácter obligatorio. El sistema no le permitirá continuar a menos que complete todos los campos obligatorios.</li>
            </ul>
        </span>
    </div>
    <div class="col-md-2"></div>
</div>




